In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [3]:
data = pd.read_csv('home_data.csv')

In [4]:
data.head().transpose()

,0,1,2,3,4
id,7129300520,6414100192,5631500400,2487200875,1954400510
date,20141013T000000,20141209T000000,20150225T000000,20141209T000000,20150218T000000
price,221900,538000,180000,604000,510000
bedrooms,3,3,2,4,3
bathrooms,1,2.25,1,3,2
sqft_living,1180,2570,770,1960,1680
sqft_lot,5650,7242,10000,5000,8080
floors,1,2,1,1,1
waterfront,0,0,0,0,0
view,0,0,0,0,0
condition,3,3,3,5,3
grade,7,7,6,7,8
sqft_above,1180,2170,770,1050,1680
sqft_basement,0,400,0,910,0
yr_built,1955,1951,1933,1965,1987
yr_renovated,0,1991,0,0,0
zipcode,98178,98125,98028,98136,98074
lat,47.5112,47.721,47.7379,47.5208,47.6168
long,-122.257,-122.319,-122.233,-122.393,-122.045
sqft_living15,1340,1690,2720,1360,1800
sqft_lot15,5650,7639,8062,5000,7503

In [ ]:
data.describe()

In [ ]:
data.groupby('zipcode')['price'].mean().sort_values(ascending=False)

In [5]:
data.loc[data['zipcode']==98039]['price'].mean()

2160606.6

In [6]:
data.loc[(data['sqft_living']>=2000) & (data['sqft_living']<=4000)]['price'].count()/len(data)

0.4266413732475825

In [7]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [8]:
advanced_features = ['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [9]:
y = data['price']
X = data.drop('price',1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
X_train_mf = X_train[my_features]
X_test_mf = X_test[my_features]
mf_model = LinearRegression()
mf_model.fit(X_train_mf, y_train)
y_pred_mf = mf_model.predict(X_test_mf)

In [13]:
X_train_adv = X_train[advanced_features]
X_test_adv = X_test[advanced_features]
adv_model = LinearRegression()
adv_model.fit(X_train_adv, y_train)
y_pred_adv = adv_model.predict(X_test_adv)

In [14]:
np.sqrt(metrics.mean_squared_error(y_test, y_pred_mf))

244004.77443104214

In [15]:
np.sqrt(metrics.mean_squared_error(y_test, y_pred_adv))

190473.3757096802

In [16]:
np.sqrt(metrics.mean_squared_error(y_test, y_pred_mf)) - np.sqrt(metrics.mean_squared_error(y_test, y_pred_adv))

53531.39872136194